<div class="container">

    <div class="row" ng-if="errorMessage != null">
        <div class="alert alert-success">{{successMessage}}</div>
    </div>


    <div class="row">
        <div class="col-md-6">

            <h2 class="lead">Create a new game</h2>
            <form name="startNewGame" class="form-horizontal" novalidate ng-submit="createNewGame()">

                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-1" style="padding-bottom:50px">
                        <button type="submit" class="btn btn-md btn-primary" ng-disabled="createNewGame.$invalid">
                            <span class="glyphicon glyphicon-plus"></span> Create </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>