.layout-main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 100vh;
  padding-top: 5px;
  -moz-transition: padding-left 0.2s;
  -o-transition: padding-left 0.2s;
  -webkit-transition: padding-left 0.2s;
  transition: padding-left 0.2s;
}

.layout-content {
  padding: 30px 36px;
  flex: 1 1 auto;
}
